*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;

}

.navbar{
    width: 1200px;
    height: 75px;
    margin: autp;
}

.logo{
    color: #31007a;
    font-size: 60px;
    font-family:'Georgia', serif;
    font-weight: 1000;
    padding-top: 5px;
    padding-left: 30px;
    float: left;
}

.menu{
    width: 400px;
    float: left;
    height: 70px
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Georgia;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: darkgray;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
}

.content .par{
    padding-left: 10%;
    padding-bottom: 15%;
    font-family: Georgia;
    line-height: 30px;
}

.content h1{
    font-family: Georgia;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 1.4px;
}