*{
    margin: 0;
    padding: 0;

}

.main{
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
    color: black;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: autp;
}

.icon .logo{
    color: #31007a;
    font-size: 60px;
    font-family:'Georgia', serif;
    font-weight: 1000;
    float: left;
}

.menu{
    width: 400px;
    float: left;
    height: 70px
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: darkgray;
}

.content{
    width: 700px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
}

.content .par{
    padding-left: 5%;
    padding-bottom: 10%;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 30px;
    text-align: left;
}

.content h1{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding-left: 5%;
    margin-top: 3%;
    letter-spacing: 1.4px;
    text-align: left;
}